@model CadeMeuMedico.Models.Medico

@{
    ViewBag.Title = "Deletar Médico";
}

<h1>Tem certeza que deseja deletar?</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Nome)
        </dd>

        <dt>
            Especialidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade.Nome)
        </dd>

        <dt>
            Cidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <input type='button' value='Cancelar' class="btn btn-default" onclick='history.go(-1)' />
    </div>
    }
</div>
